.vawe_container {
  margin-top: 400px;
  /* droebit vwer amas */
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@keyframes moveWave {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-90px);
  }
}

.parallax>use {
  animation: moveWave 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation-delay: -2s;
  /* Adjust this value to change the animation's speed */
}

.footer_containet {
  width: 100%;
  background-color: rgb(39, 41, 41);
  margin-top: 200px;
}

.abut_container {
  padding-top: 120px;
}

.about_text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.about_text_child_container {
  width: 600px;
  height: 500px;

  backdrop-filter: blur(15px);
  padding: 40px;
  border-radius: 10%;
  z-index: 99;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
  gap: 30px;
  /* border: 2px solid green; */
}

.about_dark {
  box-shadow: rgba(255, 252, 252, 0.4) 0px 2px 4px,
    rgba(240, 237, 237, 0.3) 0px 7px 13px -3px;
  background-color: #000000;
}

.about_light {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
  background-color: #ffffff;

}

.about_title {
  color: black;
}

.about_paragraph {
  color: #000000;
  font-size: 20px;
  /* border: 1px solid red; */
  line-height: 30px;
}

.about_paralax_container {
  margin-top: 160px;
  margin-bottom: 60px;
}

.about_example_container {
  margin-top: 40px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
}

.about_example_child_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 270px;
}

/* ===============================================  storkhome example styles ================================== */
.storkhome_image {
  width: 400px;
}

.storkhome_title_and_p_cont {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
}

.title_p_dark {
  color: white;
}

.title_p_light {
  color: rgb(0, 0, 0);
}

.storkhome_title {
  text-shadow: 3px;
}

.storkhome_title_and_p_cont a {
  text-decoration: none;
  /* Removes the underline from the link */
}

.storkhome_title_and_p_cont a:hover,
.storkhome_title_and_p_cont a:active,
.storkhome_title_and_p_cont a:visited {
  text-decoration: none;
  /* Ensures the underline is removed on hover, active, and visited states */
}

.storkhome_title_and_p_cont a .storkhome_title:hover {
  text-decoration: none;

  text-shadow: 2px 2px 4px #555555;
}

.storkhome_paragraph {
  max-width: 400px;
}

.sheet_mbded {
  width: 400px;
  height: 250px;
}

.storkhome_title:hover {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  /* Example shadow with RGBA color */
}

/* =======================================google sheet iframe styles ============================================== */

@media screen and (max-width: 500px) {
  .about_text_child_container {
    width: 300px;
  }

  .about_example_container {
    gap: 200px;
    margin-top: 100px;
    padding: 5px;
  }

  .about_example_child_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .storkhome_image {
    width: 270px;
  }

  .storkhome_title_and_p_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-align: center;
    gap: 10px;
  }

  .about_paragraph {
    font-size: 15px;
  }

  /* .about_text_child_container {
    padding: 10px;
  } */
}