@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

h1 {
  margin: 0;
  font-size: 22px;
  line-height: 1;
  color: #423e37;
}

.mainpage_bigmom_container {
  width: 900px;
  /* display: flex; */
  /* align-items: center; */
  height: 600px;
  /* display: none; */
}

.page {
  overflow: hidden;
  margin-top: 100px;
}

.tabs-controls {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 0 100px;
  list-style-type: none;
  display: none;

}

.tabs-controls__link {
  position: relative;
  display: block;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 700;
  color: #423e37;
  text-transform: uppercase;
  text-decoration: none;
}

.tabs-controls__link:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 4px;
  background-color: #423e37;
  border-radius: 2px;
  margin: auto;
  content: "";
  transition: width 0.4s;
}

.tabs-controls__link--active:after {
  width: 100%;
}

.cards-container {
  position: relative;
  z-index: 1;
  width: 500px;
  height: calc(100vh - 205px);
  margin: 0 auto;
  padding-top: 60px;
}

.card {
  position: absolute;
  width: 500px;
  height: 300px;
  border: 1px solid #b4b4b4;

  box-sizing: border-box;
  padding: 40px;
  transition: transform 0.3s, opacity 0.2s;
}


.card_dark {
  background-color: #000000;
  
}


.card_light {
  background-color: #000000;
}


.card.hidden {
  z-index: 100;
  background-color: #fff;
  color: #fff;
  opacity: 0;
  transition: color 0.5s, background-color 0.5s, transform 1s, opacity 0.2s 0.4s;
}

.card.hidden h1 {
  color: #fff;
  transition: color 0.5s;
}

.card.hidden:nth-of-type(1) {
  transform: rotate(-38deg) translateX(101%) translateY(-50%) scale(0.2) skewX(5deg) skewY(2deg);
}

.card.hidden:nth-of-type(2) {
  transform: rotate(-54deg) translateX(101%) translateY(-27%) scale(0.8) skewX(7deg) skewY(3deg);
}

.card.hidden:nth-of-type(3) {
  transform: rotate(-41deg) translateX(101%) translateY(-50%) scale(0.5) skewX(3deg) skewY(3deg);
}

.card.hidden:nth-of-type(4) {
  transform: rotate(-2deg) translateX(101%) translateY(-25%) scale(0.2) skewX(5deg) skewY(10deg);
}

.card.hidden:nth-of-type(5) {
  transform: rotate(-71deg) translateX(101%) translateY(-60%) scale(0.6) skewX(8deg) skewY(4deg);
}

.card.hidden:nth-of-type(6) {
  transform: rotate(-74deg) translateX(101%) translateY(-18%) scale(0.3) skewX(8deg) skewY(1deg);
}

.card:nth-of-type(1) {
  z-index: 5;
  transform: translateX(0px) translateY(0px);
}

.card:nth-of-type(2) {
  z-index: 4;
  transform: translateX(10px) translateY(10px);
}

.card:nth-of-type(3) {
  z-index: 3;
  transform: translateX(20px) translateY(20px);
}

.card:nth-of-type(4) {
  z-index: 2;
  transform: translateX(30px) translateY(30px);
}

.card:nth-of-type(5) {
  z-index: 1;
  transform: translateX(40px) translateY(40px);
}

.card:nth-of-type(6) {
  z-index: 0;
  transform: translateX(50px) translateY(50px);
}

@media (max-width: 500px) {
  .page {
    max-width: 340px;
  }

  .mainpage_bigmom_container {
    width: auto;

  }

  .tabs-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    /* margin: 0px; */
    padding-bottom: 10px;
    width: 100%;

  }

  .card {
    width: 250px;
    height: 400px;
    padding: 10px;
  }

  .cards-container {
    width: 340px;
    max-width: 340px;
    padding-top: 20px;

  }

  .card--current {
    width: 250px;
  }

  .cards-container {
    padding-left: 7px;
  }
}

/* =================================================== card content container stules  ========================================= */
.card_content_child_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

/* ===================================================  servisze gadfasvlis gilakis stilebi ========================================= */

.service_card_button_cont {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
}

.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #aecab5;
  border-radius: 1.625rem;
}


button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow_dark {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}



.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.arrow_dark::before{
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #000000;
  border-right: 0.125rem solid #000000;
  transform: rotate(45deg);
}


.button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #000000;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.button-text_dark{
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}


button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .circle .icon.arrow_dark {
  background: #000000;
  transform: translate(1rem, 0);
}


button:hover .button-text {
  color: #fff;
}



button:hover .button-text_dark {
  color: #000000;
}