header {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.header_right {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  gap: 20px;
}
.menu_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 30px;
  border: 1px solid black;
  padding: 20px 25px 20px 25px;
  border-radius: 30px;
}
.menu_button:hover .menu_dots {
  flex-direction: column;
}
.menu_dots {
  width: 10px;
  display: flex;
  gap: 3px;
}
.menu_dots div {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
}

.logo_and_name{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}
/* ====================================== voice animation styles ====================================== */
.sound_container{
  position: relative;
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing-indicator {
  width: 60px;
  height: 30px;
  position: relative;
  z-index: 4;
}

.typing-circle {
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  background-color: #000;
  left: 15%;
  transform-origin: 50%;
  animation: typing-circle7124 0.5s alternate infinite ease;
}

@keyframes typing-circle7124 {
  0% {
    top: 20px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 8px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.typing-circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.typing-shadow {
  width: 5px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 30px;
  transform-origin: 50%;
  z-index: 3;
  left: 15%;
  filter: blur(1px);
  animation: typing-shadow046 0.5s alternate infinite ease;
}

@keyframes typing-shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.typing-shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}


/* Add this to your CSS file */
.stop-animation .typing-circle,
.stop-animation .typing-shadow {
  animation: none;
}
