@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&display=swap');


@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.mainpage_cont {
  width: 100%;
  /* display: flex; */
  color: transparent;
  padding-top: 100px;
}

.mainpage_child_cont {
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-evenly;
  /* gap: 200px; */
  align-items: center;
  /* position: relative; */
}

.slogan_container {
  color: #000000;
  position: absolute;
  top: 50px;
}

.sogan_child_container{
  margin-top: 120px;
}

.slogan {
  font-family: "Noto Serif Georgian", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  font-variation-settings:
    "wdth" 100;
}


.slogan_dark {
  color: aliceblue;
}

.slogan_light {
  color: rgb(0, 0, 0);
}



.movable_arrow {
  width: 40px;
  transition: transform 0.1s linear;
  /* Smooth rotation */
  display: block;
  /* Ensures the image is block level */
  margin: auto;
  /* Centers the image within its container */
  transform-origin: center center;
  /* Ensures rotation around the center */
}


.slogan_child_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


.mainpage_main_footer_container {
  overflow-x: hidden;
}

@media (max-width: 500px) {
  .mainpage_child_cont {
    overflow: hidden;
    height: 1100px;
    gap: 0px;
    display: flex;
    justify-content: center;
    align-items: self-start;
  }

  .slogan_container {
    /* display: none; */
    text-align: center;

  }

  .slogan {
    font-size: 18px;

  }


}

/* =============================================  service button styles ========================================= */
.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* ================================================================================================================ */
@media screen and( max-width: 500px) {
}
