@font-face {
  font-family: Biko;
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/biko-black.woff");
}

.main_poster_video_container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 350px;
  width: 100%;
  padding-top: 90px;
  /* margin-bottom: 100px; */
}

.poster_header {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.poster_video_tag {
  width: 100%;
  height: auto;
}

.poster_first_svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  margin-top: 300px;
  color: aliceblue;
  display: flex;
  transition: fill 0.5s ease;
}

.poster_first_svg_dark {
  fill: rgb(0, 0, 0);
}
.poster_first_svg_white {
  fill: white;
}

.poster_text {
  font-family: Biko, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 65px;
}

.poster_rect {
  fill: white;
}


@media screen and (max-width: 500px) {
  .poster_video_tag{

  }
  .main_poster_video_container{

  }
}
