.qr_parent_container {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr_techsupp_cont{
  width: 270px;
  height: 270px;
  border: 1px solid rgb(116, 116, 116);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
  rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.qr_techsupp_cont_dark{
  width: 270px;
  height: 270px;
  border: 1px solid rgb(116, 116, 116);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(253, 253, 253, 0.12) 0px 2px 4px 0px,
  rgba(211, 215, 216, 0.623) 0px 2px 16px 0px;
}


.techsupp_qr_code{
  width: 240px;
  
}