@keyframes moveUpAndStay {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}

.path1 {
  animation: moveUpAndStay 4s ease-in-out infinite;
}

.path2 {
  animation: moveUpAndStay 4s ease-in-out infinite;
  animation-delay: 0.2s;
}

.path3 {
  animation: moveUpAndStay 4s ease-in-out infinite;
  animation-delay: 0.4s;
}

.path4 {
  animation: moveUpAndStay 4s ease-in-out infinite;
  animation-delay: 0.6s;
}

.path5 {
  animation: moveUpAndStay 4s ease-in-out infinite;
  animation-delay: 0.8s;
}

.big_logo {
  background-color: #fff;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  line-height: 1;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}


.big_logo_dark{
  background-color: #000000;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  line-height: 1;
  box-shadow: rgba(255, 255, 255, 0.507) 0px 2px 4px 0px, rgba(226, 226, 226, 0.32) 0px 2px 16px 0px;
}