.main_tech_name_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  font-size: 30px;
  line-height: 40px;
  display: flex;
  justify-content: flex-start;
  /* border: 1px solid red; */
}

.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}

.content__container__list {
  margin-top: 0;
  text-align: left;
  list-style: none;
}

.content__container__list.animate {
  animation: change 10s infinite;
}

.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@media screen and (max-width: 500px) {
  .content {
    font-size: 25px;
  }
}
