.slider-container {
  width: 100%;
  overflow: hidden;
  height: 100%; 
  display: flex;
  align-items: center;
}

.slider-inner {
  display: flex;
  width: calc(150%); /* Ensures enough width to contain all images without breaking the flow */
  animation: slide 20s linear infinite alternate;
}

.slider-slide {
  width: 25%; /* Adjust this based on how many images you want visible at a time */
  flex-shrink: 0;
}

.post_images{
  width: 350px;
  height: 100%;
}


@keyframes slide {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
}


@media screen and (max-width: 500px) {
  

  .post_images{
    width: 250px;
    height: 100%;
  }
  .slider-inner {
    display: flex;
    width: calc(300%); /* Ensures enough width to contain all images without breaking the flow */
    animation: slide 20s linear infinite alternate;
  }

  .slider-container {
    display: flex;
    align-items: center;
  }

}